.countries {
  display: flex;
}

/* Add your own CSS code below */

/* first part */

.countries--first {
  align-items: flex-end;
  justify-content: flex-end;
}

/* second part */

.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
}

/* third part */

.countries--third {
  align-items: flex-start;
  justify-content: center;
}

.countries--third .country--brazil {
  align-self: flex-end;
}

/* fourth part */

.countries--fourth {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.countries--fourth .country--ethiopia,
.countries--fourth .country--laos {
  align-self: center;
}

/* fifth part */

.countries--fifth {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.countries--fifth .country--laos {
  order: 1;
}

.countries--fifth .country--uganda {
  align-self: center;
  order: 2;
}

.countries--fifth .country--ethiopia {
  order: 3;
}

.countries--fifth .country--croatia {
  order: 4;
}

.countries--fifth .country--brazil {
  order: 5;
}
